* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFAFA;
  }

html{
   scroll-behavior: smooth;
  }

.wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 50px 20px 20px 20px;
    background-color: #ffffff;
  }
.section a{
  color: #000000;
}

  