
.profile-mp {
    padding: 5px;
}

/* ---------profile page specific header styles---------- */

#profile, #profile a {
    background: var(--main-color-muted);
    color: var(--skills-box);
    
}
/* #profile {
    border-left: 2px solid var(--skills-box);
    border-top: 2px solid var(--skills-box);
    border-right: 2px solid var(--skills-box);
} */

/* -----------character profile styles-------------- */

.profile-container {
    display: flex;
    justify-content: center;
}

.profile-content {
    width: 85vw;
    height: 100vh;
    display: flex;
    margin-top: 2rem;
}

.profile-divider-a, .profile-divider-b {
    display: flex;
    flex-direction: column;
}
.profile-divider-a {
    flex: 4;
}
.profile-divider-b {
    flex: 2;
}
.profile-divider-c {
    display: flex;
    flex: 2;
}
.profile-divider-d {
    flex: 3;
}
/* ---------------- profile image------------- */
.profile-image {
    /* width: 20vw;
    height: 20vh; */
    flex: 2;
}

.profile-image img, .familiar img {
    width: 100%;
    height: 100%;
}
/* -----------info-box-------- */
.profile-info {
    flex: 4;
    color: var(--main-bg-color);
}
#info {
    background: var(--main-color-muted);
    width: 100%;
    height: 100%;
    color: var(--skills-box);
}
.info-header {
    /* background: var(--info-box-full); */
    /* background: var(--main-color); */
    padding-left: 8px;
    /* border-bottom: 1.5px solid var(--skills-box); */
    border-bottom: 1.5px solid var(--main-bg-color);
}
.info-header h3 {
    /* color: var(--skills-box); */
    color: var(--main-bg-color);
    font-family: var(--logo-font);
    font-size: 1.5rem;
}
.info-table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--logo-font);
}
.info-table th, .info-table td {
    text-align: left;
    padding: 8px;
}
/* .info-table tr:nth-child(odd) {
    background: var(--info-box-full); 
     background: var(--main-color);
}  */

/* ---------------skills box----------- */
.profile-skills {
    width: 100%;
    height: 100%;
}
#skills {
    background: var(--skills-box);
    width: 100%;
    height: 100%;
}
.skills-header{
    /* background: var(--info-box-full); */
    padding-left: 8px;
    border-bottom: 1.5px solid var(--main-bg-color);
}
.skills-header h3 {
    color: var(--main-bg-color);
    font-family: var(--logo-font);
    font-size: 1.5rem;
}
.skills-content {
    display: flex;
}
.skillset {
    flex: 1;
    width: 100%;
    height: 100%;
}
.skillset:nth-child(even){
    background: var(--skills-box-full);
}

/* ------------stats box------------------ */
.profile-stats {
    flex: 3;
}
#stats {
    background: var(--stats-box);
    width: 100%;
    height: 100%;
}
.stats-header {
    /* background: var(--stats-box-half); */
    padding-left: 8px;
    border-bottom: 1.5px solid var(--main-bg-color);
}
.stats-header h3 {
    color: var(--main-bg-color);
    font-family: var(--logo-font);
    font-size: 1.5rem;
}
.stats-content {
    color: var(--skills-box);
}
/* -----------familiar box------------------- */
.familiar {
    flex: 2;
    overflow: hidden;
    position: relative;
}
/* .familiar-header { */
    /* width: 100%;
    padding-left: 8px;
    border-bottom: 1.5px solid var(--main-bg-color);
    background: var(--skills-box);
    z-index: 4;
} */

.familiar-text {
    position: absolute;
    top: 5px;
    left: 5px;
    padding-left: 8px;
    border-bottom: 1.5px solid var(--main-bg-color);
    background: var(--skills-box);
    z-index: 4;
    width: calc(100% - 10px);

    /* background: var(--skills-box); */
}
.familiar-text h3 {
    color: var(--main-bg-color);
    font-family: var(--logo-font);
    font-size: 1.5rem;
    z-index: 2;
}
.familiar-img {
    z-index: 1;
}