/* --------------general styles-------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #6B6733;
    --main-bg-color: rgb(35, 43, 35);
    --main-highligh: #FFF9AB;
    --nav-font: 'Roboto', sans-serif;
    --logo-font: 'Lora', serif;
}

body {
    background: var(--main-bg-color);
    color: var(--main-color);
}
/* --------------header styles------------- */

.container {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--main-color);
}
.header-content {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    align-items: flex-end;
}
.logo {
    flex: 1;
    font-family: var(--logo-font);
}
.top-nav {
    flex: 3;
}
.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: var(--main-color);
}
header h1 {
    margin-top: 2px;
}
.nav-list li {
    min-width: 100px;
    text-transform: uppercase;
    font-family: var(--nav-font);
    padding-bottom: 4px;
    border-left: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 5px;
}

.nav-list li:hover, .nav-list a:hover {
    color: var(--main-bg-color);
    background: var(--main-color);
    transition: all 0.2s ease-in;
}

/* .nav-list a:active {
    color: var(--main-bg-color);
    background: var(--main-color);
} */

/* --------------box shadow---------------- */
.shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}
