
*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background: aliceblue;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 0;
  }
  
  /* Styling the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courgette', cursive;
    
    
  }
  
  /* Changing the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Adding a color to the active/current link */
  .topnav a.active {

    color: white;
  }
  ul li{
      list-style-type: none;
      float: right;
      
  }
  
  /* if you want it vertically move the logo in middle of the navbar. */
  #logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 15px;
   background-color: whitesmoke;
  
}
.container{
max-width: 800px;
margin: 50px auto 0;
line-height: 1.65;
padding: 20px 50px;
display: flex;
box-sizing: border-box;
z-index: 9999999;

}
.column{
  flex: 1;
  background-color: lawngreen;
  margin-bottom: 20px;
  flex-basis: 45%;
  
  

}
.rows{
  flex: 1;
  
  width: 5000px;
  height: 400px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  margin-right:auto;
  margin-left: auto;
  overflow: hidden;
  text-align: center;

}
.image-slider{
 float: left;
  margin: 0;
  padding: 0;

}
.slide-button-container{
  top: -20px;
  position: relative;
}

  
footer{
 background: #333333;
}

.form{
    float: right;
    line-height: 3em;
    flex-direction: column;
    padding: 0;
    color: whitesmoke;
}
ol{
  list-style-type: none;
}
.map h2{
  color: #f2f2f2;
  
}
#send{
  box-sizing: border-box;
  background-color: aquamarine;
  background-size: 25em;
}

.interests h3{
  
  font-family: 'Lacquer', sans-serif;;
}
.copyright{
  color: white;
  text-align: center;
}
.fa-fa-copyright{
  color: whitesmoke;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
i{
  color: white;
}



