/* Whole site */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: CenturyGothic;
}

body {
  background-position: center;
  text-align: center;
  height: 100%;
}

/* Text-rules*/

h1 {
  font-size: 1.2rem;
  white-space: none;
  font-style: normal;
  font-variant: normal;
}
h2 {
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
}

h3 {
  font-size: 0.9rem;
  font-style: normal;
  font-variant: normal;
}
p {
  font-size: 0.8rem;
  font-style: normal;
  font-variant: normal;
}

li {
  font-size: 0.8rem;
  font-style: normal;
  font-variant: normal;
}

/* Header */

#logo {
  width: 100%;
  height: 7vh;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

header {
  background-color: white;
  z-index: 9000;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  position: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

header ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header ul li {
  display: inline-block;
  font-size: 0.8rem;
  font-style: normal;
  font-variant: normal;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
header ul li a:hover {
  text-decoration: underline;
}

/* Profile-banner */

.profile-img {
  background: url("/images/OtsoSelfie.jpg") no-repeat fixed center center/cover;
  width: 100vw;
  padding-top: 27rem;
  padding-bottom: 10rem;
}

.profile-txt {
  color: white;
  line-height: 2.5;
  letter-spacing: 1px;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 22rem;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-style: none;
  background-color: rgba(255, 131, 55, 0.863);
  margin-left: 30rem;
  padding: 10px;
}

/* CV Sections */
#CV {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
  background-color: whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

#BC {
  background-color: white;
  color: black;
  margin: 1rem;
  grid-column: 2;
  grid-row: 1;
}

#SEM {
  background-color: green;
  color: whitesmoke;
  margin: 1rem;
  line-height: 2;
  grid-column: 1;
  grid-row: 2;
}
#BA {
  background-color: coral;
  color: whitesmoke;
  margin: 1rem;
  grid-column: 2;
  grid-row: 3;
}
#Stockmann {
  background-color: white;
  color: black;
  margin: 1rem;
  grid-column: 3;
  grid-row: 4;
}
#Mode {
  background-color: black;
  color: whitesmoke;
  margin: 1rem;
  grid-column: 2;
  grid-row: 5;
}

/* CV logos */

.BC-logo {
  content: url("/images/BCWhite.png");
  max-height: 9vh;
}

.SEM-logo {
  content: url("/images/Gads.png");
  max-height: 9vh;
}

.BA-logo {
  content: url("/images/BA.png");
  max-height: 9vh;
}

.Stockmann-logo {
  content: url("/images/Stockmann.png");
  max-height: 9vh;
}

.Mode-logo {
  content: url("/images/Modelogo.png");
  max-height: 9vh;
}

/* Skills */

#skills {
  background-color: coral;
  margin-left: 100px;
  margin-right: 100px;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.skill-cards-html {
  grid-column: 6;
  grid-row: 2;
}

.skill-cards-css {
  grid-column: 8;
  grid-row: 2;
}

.skill-cards-js {
  grid-column: 10;
  grid-row: 2;
}

.skill-cards-ux {
  grid-column: 6;
  grid-row: 4;
}

.skill-cards-photoshop {
  grid-column: 8;
  grid-row: 4;
}

.skill-cards-vegas {
  grid-column: 10;
  grid-row: 4;
}

/* Card-images */

.cards-html {
  content: url("/images/HTML5.svg");
  height: 7.5vh;
}

.cards-css {
  content: url("/images/CSS.svg");
  height: 7.5vh;
}

.cards-js {
  content: url("/images/Javascript.png");
  height: 7.5vh;
}

.cards-ux {
  content: url("/images/UIUX.svg");
  height: 7.5vh;
}

.cards-photoshop {
  content: url("/images/Photoshop.png");
  height: 7.5vh;
}

.cards-vegas {
  content: url("/images/Vegas.png");
  height: 7.5vh;
}

/* top-button */

#topBtn {
  position: fixed;
  display: block;
  outline: none;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 128, 128);
  color: white;
  border: none;
  cursor: pointer;
}

#topBtn:hover {
  background-color: rgb(255, 127, 80);
}

/* Slidershow */


/* Footer */

footer {
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

.personal-info {
  line-height: 2;
}

.contact-mail {
  line-height: 2;
}
