/*--- Setting basic styling---*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: gainsboro;
    font-family: 'IM Fell English' ;
}
/*---Header styling---*/

.menuContainer {
    padding: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    flex: 1;
}


 /*Hoverable menu button styling*/   


button{
    font-family: 'IM Fell English SC';
    text-transform: uppercase;
}

.dropMenu{
    position: relative;

    
  }
  
 
  #dropBtn{
    background-color: rgb(73, 71, 71);
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
  
  }
  
  #dropContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #dropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #dropContent a:hover {
    background-color: #ddd;
  }
  
  .dropMenu:hover #dropContent {
    display: block;
  }
  
  .dropMenu:hover #dropBtn {
    background-color:rgb(34, 34, 49);
  }


/*--- Main page styling, including main grid ---*/

.pageContainer{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0.5rem;
    background-color: greenyellow;
}

h1{
    font-family: 'IM Fell English SC';
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 { 
    font-family: 'IM Fell English SC';
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

h3 {

    font-size: 1.5rem;
}

/*---Hero banner section styling---*/

.heroBanner{
    grid-column: 1/span 12;
    grid-row: 1/span 3;
    background-color: hotpink;
    padding: 2rem;
    line-height: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}



/*--- Education and work experience section styling.
 Including a sub-grid structure.---*/
.eduContainer{
    grid-column:2/span 10;
    grid-row: 4/span 4;
    background-color: indigo;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.2rem;
}

.eTitle{
    margin-bottom: 1rem;
}

.eduBox {
    grid-column:1;
    grid-row: 1/span 2;
    background-color: tomato;
    padding: 0.5rem;

}

.img1 {
    grid-column: 2;
    grid-row: 1;
    background-image: url("https://source.unsplash.com/featured/?tarantula");
    
}

.img2 {
    grid-column: 2;
    grid-row: 2;
    background-image: url("https://source.unsplash.com/featured/?raven");
}

.expBox {
    grid-column: 3;
    grid-row: 1/span 2;
    background-color: turquoise;
    padding: 0.5rem;
}

/*--- Skills area styling, including a second sub-grid structure---*/

.boxContainer{
    grid-column: 1/span 12;
    grid-row:8/ span 3;
    background-color:turquoise;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:0.4rem;
}
.titleLine {
    grid-column: 1/span 5;
    grid-row: 1;
    background-color:green ;
    text-align: center;
    padding: 2rem;
    height: fit-content;
}

.skillBox {
    height: 150px;
    background-color: lightgray;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   line-height: 2rem;


}
.skillHtml {
    grid-column: 1;
    grid-row: 2;

}


/*--- Footer area styling, including mailto link styling---*/

footer {
    background-color: dimgrey;
}

.footerContainer{
    padding: 4rem;
    display:flex;
       justify-content: space-between;
}

.contactMe a {
    color: black;
    text-decoration: none;
}

.contactMe a:hover {
    color: darkred;
    font-size: 2rem;
}