body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(248, 239, 239);
}
/*navbar customization*/
.navbar {
  border-top: 6px solid #ccc;
  background-color: rgb(29, 25, 25);
  padding: 0;
  margin: 0 !important;
}
.navbar .navbar-brand {
  display: block;
  background-color: rgb(29, 25, 25);
  padding: 15px 40px;
  font-style: capitalize !important;
  color: rgb(206, 193, 193);
}
.navbar .nav-link {
  color: rgb(206, 193, 193);
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 10px;
}
.navbar .nav-link:hover {
  border-bottom: 1px solid #fff;
}
.hamburgerIcon {
  background-color: #fff;
}

/* .aboutMe {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/aboutme-pix.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/*skills section customization*/
.skills-icon {
  background: #242424;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  transition: all 1s ease;
}
.skills-icon:hover {
  background: #2a9134;
}
.skills-icon span {
  font-size: 100px;
  color: #909090;
  transition: all 1s ease-in;
}
.skills-icon:hover span {
  color: #f1fffa;
}

/*footer customizatio*/
footer {
  background: #242424;
}

.footer-icons a {
  color: #2a9134;
  font-size: 25px;
  transition: color 1s ease;
}

.footer-icons a:hover {
  color: #f1fffa;
}

footer p {
  color: #f1fffa;
}
