* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    background-color: #e5f6ff;
    color: #343434;
  }

  header nav {
    background-color: #e5f6ff;
    text-align: right;
    float: right;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
    
  header ul li {
    display: inline-block;
    padding: 8px;
  }

  header ul li a {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
    text-decoration: none;
    padding: 2px 10px 0px;
    display: block;
  }
  
  #logo {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 110px 75px 10px 0;
    text-decoration: none;
    line-height: 50px;
  }
  
  header ul {
    list-style-type: none;
    padding: 15px;
  }
  
  header ul li:hover {
    font-weight: bold;
  }
  
#subheading {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.social-icons {
  text-align: center;
  } 

.social-icons li {
  display:inline-block;
  list-style-type:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  float: center;
  width: 15px;
  margin-right: 0;
  margin-top: 5px;
  margin-left: 0;
}



   .container {
    max-width: 1150px;
    height: 450px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    border-radius: 8px;
  }

  .container_2 {
    max-width: 1150px;
    height: 1280px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 40px;
    border-radius: 8px;
  }

  .container_3 {
    max-width: 1150px;
    height: 450px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    border-radius: 8px;
  }

  .container_4 {
    max-width: 1150px;
    height: 215px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 40px;
    border-radius: 8px;
  }

  .container img {
      float: left;
      margin: 0 40px 40px 0;
      border-radius: 4px;
      width: 300px;
  }

  h2 {
      margin-bottom: 20px;
      font-family: 'Carrois Gothic SC', sans-serif;
  }
 
  table {
      margin-top: 30px;
  }

  td {
      width: 300px;
      vertical-align: top;
      padding: 15px;
  }

  #first_column {

      width: 350px;
      font-size: 20px;
  }
 #second_column {
     width: 600px;
 }

 a {
     text-decoration: none;
     color: #e1a87a;
 }

 a :hover {
     font-weight: lighter;
 }

 .btn {
  background-color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  color: white;
  padding: 16px 44px 16px 44px;
  margin: 20px 420px;
  cursor: pointer;
  font-size: 11px;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.btn:hover {
  background-color: #bd9f6e;
}
/*
 #button {
  display: inline-block;
  background-color: black;
  opacity: 0.2;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  margin: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
  visibility: hidden;
}

#button.show {
visibility: visible;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
} */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}


#contact {
  font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    margin: 0 auto;
    text-decoration: none;
    line-height: 50px;
}








.slider_container{ width:920px; margin:auto; clear:both; background:url(images/shadow_top.png) no-repeat top center; padding:30px 0 0 0;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;background:url(images/slider_caption_bg.png) repeat;color: #303030;}
.flex-caption h2{ color:#303030;font-size:20px; padding:5px 0 5px 0; margin:0px;font-family: 'Ovo', serif;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;background:url(images/shadow_bottom.png) no-repeat center bottom;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border:10px #ededed solid;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(images/next.png) no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url(images/prev.png) no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.slider_container{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
.flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(images/next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(images/prev.png) no-repeat center;bottom:40px;}
.flex-caption { display:none;}
}
