* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    background-color: #e5f6ff;
    color: #343434;
  }

  header nav {
    background-color: #e5f6ff;
    text-align: right;
    float: right;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
    
  header ul li {
    display: inline-block;
    padding: 8px;
  }

  header ul li a {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
    text-decoration: none;
    padding: 2px 10px 0px;
    display: block;
  }
  
  #logo {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 110px 75px 10px 0;
    text-decoration: none;
    line-height: 50px;
  }
  
  header ul {
    list-style-type: none;
    padding: 15px;
  }
  
  header ul li:hover {
    font-weight: bold;
  }
  
#subheading {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.social-icons {
  text-align: center;
  } 

.social-icons li {
  display:inline-block;
  list-style-type:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  float: center;
  width: 15px;
  margin-right: 0;
  margin-top: 5px;
  margin-left: 0;
}



   .container {
    max-width: 1150px;
    height: 450px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    border-radius: 8px;
  }

  .container_2 {
    max-width: 1150px;
    height: 1280px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 40px;
    border-radius: 8px;
  }

  .container_3 {
    max-width: 1150px;
    height: 450px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    border-radius: 8px;
  }

  .container_4 {
    max-width: 1150px;
    height: 350px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 40px;
    border-radius: 8px;
  }

  .container img {
      float: left;
      margin: 0 40px 40px 0;
      border-radius: 4px;
      width: 300px;
  }

/* style for the image slider below */
.slider-inner{
	width:520px;
	height:520px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	width:520px;
	height:520px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:240px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}








  h2 {
      margin-bottom: 20px;
      font-family: 'Carrois Gothic SC', sans-serif;
  }
 
  table {
      margin-top: 30px;
  }

  td {
      width: 300px;
      vertical-align: top;
      padding: 15px;
  }

  #first_column {

      width: 350px;
      font-size: 20px;
  }
 #second_column {
     width: 600px;
 }

 a {
     text-decoration: none;
     color: #e1a87a;
 }

 a :hover {
     font-weight: lighter;
 }

 .btn {
  background-color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  color: white;
  padding: 16px 44px 16px 44px;
  margin: 20px 420px;
  cursor: pointer;
  font-size: 11px;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.btn:hover {
  background-color: #bd9f6e;
}


.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}


#contact {
  font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    margin: 0 auto;
    text-decoration: none;
    line-height: 50px;
}








