/*start global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Amatic SC', ;
    color: rgb(225, 204, 204);
}
body{
    width: 100%;
    height: 100%;
    background: rgb(33, 15, 33)
    

       
}
a{
    text-decoration: none;
    color:black;
}
p{
    font-size: 1.2rem;
    font-weight: 300;
   
}
img{
    width: 100%;
}
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-top: 10rem;
}
.section-heading h2{
    font-size: 3rem;
    color: rgba(255,255,255,.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h2::before,
.section-heading h2::after{
content: "";
position: absolute;
bottom: -5rem;
left: 50%;
transform: translateX(-50%);
background-color: rgba(255,255,255, 0.75);

    
}
.section-heading h2::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h5{
    font-size: 1.5rem; 
    font-weight: 300;
}

/*end global section*/
/* header section start */
header{
    width: 100%;
    height: 100vh;

}
.topNav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: rgb(125, 122, 122);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transform: all 650ms cubic-bezier(1,0,01);
}
.navList{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
}
li{
    margin: 0 2rem;
}
.NavLinks{
   
    font-family: 'Yeon Sung', ;
    font-size: 2rem;
    padding: 1rem;
}
.NavLinks:hover,
.NavLinks:focus{
    background: linear-gradient(to Top, lightBlue,yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
    

} 
.topNav.open{
    top: 0;
    border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: trasform 620ms ease-out;

}
.menu-toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right, lightBlue, yellow);
    width: 50%;
    height: 4px;
    border-radius: .8rem;

}
.bar.half{
    width: 50%;
}
.bar .half.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}


.open.bar.start{
    transform: rotate(-450deg) translateX(.8rem);


}
.bar.half.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
    
   

}
.open.bar.end{
    transform: rotate(-450deg) translateX(-.8rem);


}
.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;


}
.landing-text h1{
    font-size: 4rem;
    font-family: 'Trade Winds', ;
    background: linear-gradient(to Top, lightBlue,yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 1rem;
    user-select: none;
}
.landing-text h5{
    font-size: 1.5rem;
    font-weight: 300;
}

/*end of header section */

/*about section start */
.About .container{
display: flex;
align-items: center;
justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h2{
    font-size: 3rem;
    opacity: .3;

}
.about-heading h6{
    font-size: 1.2rem;
    font-weight: 300;


}
.profile-img{
    flex: 1;
    margin-right: 5rem;
}
.about-details{
    flex: 1;
}
.socialMedia{
    margin-top: 5rem;
}
.socialMedia i{
    font-size: 2rem;
    transition: color 650ms;
}
.fab fa-facebook-square :hover{
    color: rgb(42, 67, 160);
    
}
.fab fa-twitter-square:hover{
    color: lightblue;
}
.fab fa-linkedin:hover{
    color: whitesmoke, rgb(24, 24, 206);
}
.fab fa-instagram-square:hover{
    color: coral, rgb(193, 47, 186), rgb(70, 135, 232);

}
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
    text-align: center;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}
.skills h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;

}


.icon-container{
    width: 10rem;
    height: 10rem;
    border: 2px solid yellow;
    background-color: lightblue;
    display: flex;
    transform: rotate(45deg);

}
.icon-container i{
    color: yellow;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*end of skills section
/* portfolio section begin */
.site-btn{
    color: thistle;
    
   
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;


}
.portfolio-img{
    width: 25rem;
    flex: o.5;
}
´
    

.my-info ul{
    list-style-type: none;
    line-height: 4rem;
    
}
.my-info h2{
    text-transform: uppercase;
}
.section-titles h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 3rem;
}
.section-titles p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;

}
.section-titles li h2{
    font-size: 2rem;
    margin-top: 2rem;
    
}


/*styling the work experience timeline */
.timeline{
    border-left: 4px yellow;
    border-radius: 8rem;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}














/*portfolio section ends */